#search-page > img{
    position: relative;
    width: 100%;
    height: 65rem;
    margin: 0;
    padding: 0;
}

#phone-screen{
    position: absolute;
    background-image: url('../Images/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 5%;
    margin: 3%;
    width: 90%;
    height: 50rem;
    border: 2px solid black;
    border-radius: 3rem;
    box-shadow: 10px 10px 5px rgb(27, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 30%;
}

.custom{
    position: relative;
    top: 5rem;
}

.container-fluid{
    position: relative;
    width: 50rem !important;
    left: 7%;
}

.size{
    width: 70% !important;
    height: 3rem;
}

#button{
    height: 3rem;
}

#button:hover{
    color: white !important;
    background-color: rgb(216, 149, 24);
}

#container{
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    list-style: none;
    top: 13rem;
    left: 15%;
    z-index: 20;
}

#container a{
    text-decoration: none;
}

.recent-search{
    width: 330px;
    height: 7rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

#recent-search1{
    position: relative;
    animation: slide 0.5s linear;
}

#recent-search2{
    position: relative;
    animation: slide 0.7s linear;
}

#recent-search3{
    position: relative;
    animation: slide 0.9s linear;
}



@keyframes slide {
    0% {
      transform: translateX(250px);
    }
    100% {
      transform: translateX(0);
    }
  }


.city{
    font-size: 40px;
    font-weight: 500;
    color: rgb(216, 149, 24);
}

.max-min-temp, .AQI{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.temperature{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

#logo-img{
    margin-top: -18rem;
    margin-left: 78%;
}

#logo-img img{
    width: 200px;
    height: 150px;
}

#main-img{
    position: absolute;
    bottom: 0rem;
    margin-left: 50%;
}

#back-btn{
    position: absolute;
    bottom: 5%;
    left: 18%;
    width: 100px;
    height: 48px;
    border: 2px solid rgb(216, 149, 24);
    border-radius: 10px;
    text-align: center;
    color:rgb(216, 149, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-btn h2{
    font-size: 25px;
}

#back-btn:hover{
    background-color: rgb(216, 149, 24);
    color: white;
}